body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  background-position: left;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-bottom: 18px;
  padding-top: 83px;

  font-size: 16px;
  line-height: 1.8;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.active-navigation {
  border-bottom: 2px solid #fb565a;
}

.user-navigation {
  width: 125px;
}

.user-navigation .basket {
  position: relative;
  padding-left: 50px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 30px;
  left: 10px;

  width: 15px;
  height: 16px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 455px;
  margin: 0;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding-top: 25px;

  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding: 0;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 96px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding-top: 78px;
  padding-right: 0px;
  padding-bottom: 80px;
  padding-left: 0px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  width: 515px;
  margin: 0;
  margin-bottom: 28px;

  font-size: 55px;
  line-height: 1;
  font-weight: 500;
}

.slider-item p {
  width: 363px;
  margin: 0;
  margin-bottom: 42px;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #283136;
}

.services {
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 300px;
  margin-bottom: 80px;
}

.services-item p {
  margin-bottom: 35px;
}

.services-item h3 {
  margin-bottom: 26px;

  font-size: 25px;
  line-height: 1.29;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  display: block;
  width: 240px;
  padding: 18px 0;

  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
  color:rgba(255,255,255,1);
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
}

.top-background {
  background-color: #eeeeee;
}

.about-company .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-top: 75px;

  border-bottom: 2px solid #eeeeee;
}

.about-company-text {
  width: 700px;
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
}

.about-company-text h3 {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.about-company-text b {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 45px;
  line-height: 1;
  font-weight: 500;
}

.about-company-text p {
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
}

.order {
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-option {
  position: relative;
  display: block;

  margin-bottom: 25px;
  padding-left: 35px;
}

.order-option::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;

  border: 1px solid #fb565a;
}

.about-company-statistics {
  width: 360px;
  margin: 0;
  margin-bottom: 76px;
  padding: 0;
  text-align: center;
}

.about-company-statistics figure {
  margin: 0;
  padding: 0;
}

.about-company-statistics p {
  margin: 0;
  margin-top: 41px;
  margin-bottom: 49px;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;
}

.statistics-table {
  margin: 0;
  padding: 0;
  text-align: left;
}

.value {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
}

.percent {
  font-size: 26px;
  line-height: 0.22;
  font-weight: 700;
}

.indicator {
  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;

  color: #283136;
}

.partners {
  margin-bottom: 80px;
  padding-top: 45px;
  padding-bottom: 43px;

  border-bottom: 2px solid #eeeeee;
}

.gallery-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery-content li {
  position: relative;
  padding: 0 40px;
}

.gallery-content li::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 0;
  height: 52px;
  margin-top: -26px;

  border: 1px solid #eeeeee;
}

.gallery-content li:first-child::before {
  content: none;
}

.gallery-content img {
  opacity: 0.2;
  list-style: none;
}

.gallery-content img:hover,
.gallery-content img:focus {
  opacity: 1;
}

.gallery-content img:active {
  opacity: 0.1;
}

.contacts-map img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.map {
  position: relative;
}

.contacts {
  content: "";

  position: absolute;
  top: 54px;
  left: 0;

  width: 214px;
  padding-top: 54px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 50px;

  background: #ffffff;
}

.contacts .button {
  margin-top: 37px;
}

.contacts p,
.contacts .telephone {
  margin: 0;

  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;

  color: #666666;
}

.contacts h3 {
  margin: 0;
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 1.8;
  font-weight: 700;
  text-transform: uppercase;
}

.write-us {
  width: 219px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 70px;
  margin-bottom: 70px;

  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
}

.friends {
  margin-left: 130px;
}

.friends b {
  margin-bottom: 12px;

  font-size: 35px;
  line-height: 1;
  font-weight: 700;

  color: #444444;
}

.icons {
  display: inline-block;
  vertical-align: top;

  width: 260px;
  padding: 0;
}

.social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button::before {
  content: "";

  position: absolute;
  display: inline-block;
  vertical-align: top;

  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button::after {
  content: "";

  position: absolute;
  z-index: 10;

  display: inline-block;
  width: 26px;
  height: 22px;
  vertical-align: top;

  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover::before,
.social-button:focus::before {
  background-color: #e74246;
}

.social-button:active::before {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button-vk::after {
  top: 28px;
  left: 70px;
  background-image: url("../img/vk-icon.svg");
}

.social-button-fb::after {
  top: 25px;
  left: 154px;
  background-image: url("../img/fb-icon.svg");
}

.social-button-insta::after {
  top: 27px;
  left: 243px;
  background-image: url("../img/insta-icon.svg");
}

.social-button-vk:hover:after,
.social-button-vk:focus:after,
.social-button-fb:hover:after,
.social-button-fb:focus:after,
.social-button-insta:hover:after,
.social-button-insta:focus:after {
  background-color: #e74246;
}

.social-button-vk:active:after,
.social-button-fb:active:after,
.social-button-insta:active:after {
  background-color: #d7373b;
  opacity: 0.3;
}

/*catalog.html*/

.page-title {
  margin-bottom: 63px;
  padding-top: 82px;
  padding-bottom: 116px;
}

.page-title h1 {
  margin: 0;

  font-size: 54px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}

.filter {
  width: 260px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin-bottom: 62px;

  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-item ul {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 50px;
  padding: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  color: #283136;
}

.filter-grid {
  margin-bottom: 16px;
  padding-left: 35px;
}

.filter-grid label {
  position: relative;

  display: block;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
  cursor: pointer;
}

.filter-input-radio+label::before {
  content: "";

  position: absolute;
  left: -38px;
  top: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked+label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox+label::before {
  content: "";

  position: absolute;
  left: -38px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on.png");
}

.filter-input+label::before {
  opacity: 0.4;
}

.filter-input+label:hover:before,
.filter-input+label:focus:before {
  opacity: 1;
}

.grey-button {
  color: #000000;
  background-color: #eeeeee;
}

.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}

.grey-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorting-catalog {
  width: 760px;
  margin: 0;
  padding: 0;
}

.product-selection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;

  width: 360px;
  margin-bottom: 73px;
}

.catalog-item:nth-child(even) {
  margin-left: 40px;
}

.catalog-item::before {
  content: "";

  position: absolute;
  top: -40px;
  left: 0px;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover:before,
.catalog-item:focus:before {
  opacity: 1;
}

.catalog-item-info {
  position: absolute;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  left: 0;

  width: 360px;
  height: 231px;

  background-color: #eeeeee;
}

.catalog-item:hover .catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item a {
  width: 200px;
  margin: 0;
}

.item-name {
  color: #000000;
}

.catalog-item h3 {
  margin: 0;
}

.catalog-item-description {
  margin: 0;
  margin-bottom: 30px;
  margin-top: 25px;

  font-size: 16px;
  line-height: 1.13;
  font-weight: 400;

  color: #666666;
}

.catalog-item-info {
  text-align: center;
}

.filter-grid {
  list-style: none;
}

.sorting-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-bottom: 59px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;

  color: #000000;
}

.sorting-form h3 {
  margin-right: 220px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1;

  color: #000000;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 270px;
}

.sorting,
.user-sorting {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting a {
  color: #000000;
  opacity: 0.3;
}

.sorting a:hover,
.sorting a:focus {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 1;
}

.user-sorting {
  width: 45px;
}

.user-sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 20px;
}

.sorting-down,
.sorting-up {
  position: absolute;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 11px;
  height: 11px;
}

.sorting-up {
  opacity: 0.2;
}

.sorting-down:hover,
.sorting-down:focus,
.sorting-up:hover,
.sorting-up:focus {
  opacity: 0.6;
}

.sorting-down:active,
.sorting-up:active {
  opacity: 1;
}

.sorting .active-sorting {
  opacity: 1;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-bottom: 60px;
  margin-top: 27px;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding-top: 17px;
  padding-right: 21px;
  padding-bottom: 19px;
  padding-left: 20px;

  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item-long a {
  width: 260px;
  padding-left: 76px;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;

  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);

          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/* Сеточные стили */

.services-list figure {
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 200;

  display: none;

  padding-top: 80px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px;

  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal h2 {
  margin: 0;
  margin-bottom: 49px;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.write-form p {
  margin: 0;
  margin-bottom: 36px;
}

.write-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
}

.write-form label {
  margin: 0;
  margin-bottom: 12px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.modal-item input,
.modal-item textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  margin-top: 12px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 16px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;

  border: 2px solid #d7dcde;
  border-radius: 5px;
  opacity: 0.5;

  cursor: pointer;
}

.modal-item textarea {
  resize: vertical;
  width: 760px;
  min-height: 120px;
  max-height: 200px;
}

.modal-item input:hover,
.modal-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-item input:focus,
.modal-item textarea:focus {
  border: 2px solid #000000;
}





